<h1 class="white center">Hello welcome to my products website</h1>

<h2 class="white center">There are <%= @products.count %> products</h2>

<%= link_to "Add a new product", new_product_path, class: "top_btn" %>


<ul>
<% @products.each do |p| %>
    <li class="products_list off_white">
     <p>Name of product : <%= p.name %></p>
     <p>Price of product : <%= p.price %></p>
     <%= link_to "view",  product_path(p)%>
    </li>
<% end %>
</ul>