<h1 class= "white center">Add a review to the <%= @review.product[:name] %> page</h1>

<% if @review.errors.any? %>
  <% @review.errors.full_messages.each do |message|%>
  <h3><%= message %> </h3>
  <%end%>
<%end%>

<%= form_for([@product , @review]) do |f| %>

        <div class="off_white review_form">
        <%= f.label :review_text %>
        <%= f.text_area :review_text %>
        </div>

        <div class="off_white review_form">
        <%= f.label :review_rating %>
        <%= f.number_field :review_rating %>
        </div>

        <div>
        <%= f.submit class: "top_btn"%>
        </div>

<% end %>
  

