<!DOCTYPE html>
<html>
  <head>
    <title>ProductsApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if session[:user_id] %>
    <%= link_to "sign out", sessions_path, method: :delete, class: "yellow sign_in" %>
  <% else %>
      <%= link_to "create account", new_users_path, class: "yellow sign_in" %>
      <%= link_to "sign in", new_sessions_path, class: "yellow sign_in" %>
  <% end %>

  
  <% flash.each do |type, msg| %>
  <div>
  <%= msg %>
  </div>
    
  <% end %>
  
    <%= yield %>
  </body>
</html>
